#search-container{
/* border: 2px solid red; */
margin-top: var(--spacing-xxxl);

}

#search-form{
/* border: 12px solid rgb(127, 47, 47); */
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: var(--spacing-md);
}

#seach-bar{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid var(--color-border);
    height: 57px;
    gap: var(--spacing-md);
    padding: var(--spacing-lg) var(--spacing-xl);
    border-radius: var(--radius-lg);
}

#search-input{
    display: flex;
    background-color: transparent;
    border: none;
    color: var(--color-text-secondary-2);
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    padding: var(--spacing-lg) var(--spacing-xl);

}

#view-btn{
    background-color: var(--color-accent);
    padding: var(--spacing-lg) var(--spacing-xl);
     border-radius: var(--radius-lg);

      border: none;
      
  
}


#search-input:focus{
    outline: none;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
 #search-form{
    /* border: 2px solid; */
width: 95%;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-inline:auto;
}  


#search-bar{
    /* flex: 2; */
    width: 70%; 
}

#view-btn{
    width: 20%;
    height: 100%;
    background-color: var(--color-accent);
    padding: var(--spacing-md) var(--spacing-xl);
     border-radius: var(--radius-lg);

      border: none;
      
  
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){}
