.daily-forecast-cards-container{
    /* border: 2px solid red; */
    display: grid;

    grid-template-columns: repeat(3,30%);
    justify-content: center;
    gap: var(--spacing-lg);
    border-radius: ;
}