.daily-forecast-card{
background-color: var(--color-bg-2);
border-radius: var(--radius-lg);
color: var(--color-text-secondary);

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: var(--spacing-lg) var(--spacing-md);
}

.temperature-range{
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: space-between;

    
}